{{#with house}}
<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{image}}">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{name}}</h1>
                    <h2>Type: {{type}}</h2>
                    <h4>Year: {{year}}</h4>
                    <h4>City: {{city}}</h4>
                    <p>Description: {{description}}</p>
                    {{#if rentedCount}}
                    <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                    <p>People rented this housing: Alex Petkov, Ivan Dobrev</p>
                    {{else}}
                    <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                </div>
            </div>
            {{#if hasUser}}
            <div class="product-btn">
                {{#if isAuthor}}
                <!-- Only for registered user and creator of the housing offer-->
                <a href="/edit/{{_id}}" class="edit">Edit</a>
                <a href="/delete/{{_id}}" class="remove">Delete</a>
                {{else}}
                <!-- logged in user with available pieces-->
                {{#if pieces}}
                {{#if hasRented}}
                <p class="alRentHome">You have already rent this home</p>
                {{else}}
                <a href="/rent/{{_id}}" class="rentHome">Rent a home, available {{pieces}} housing</a>
                {{/if}}
                {{else}}
                <!-- logged in user with no available pieces-->
                <p class="no-housing">No Housing Available!</p>
                {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</section>
{{/with}}